VITE_API_URL=http://localhost:8000
VITE_GOOGLE_CLIENT_ID=822792475898-4l9ctl5jc1urpi2tvbuaut2tpelgevfo.apps.googleusercontent.com
VITE_USUARIOS_PERMITIDOS=leonardobarrey@gmail.com,thiagokist@gmail.com,fabiokist@gmail.com
